<style>
body {background-color: black;}

h1 {
  color: white;
  font-size: 20px;
}

p {
  color: green;
  font-size: 12px;
}

div {
color: white;
border-style: dotted;
border-width: 2px;
width: 100px;
height: 100px;

}

ol {list-style-type: upper-alha;}

}

ul {list-style-type: square;}
</style>